.settingsHeader {
  z-index: 1;
  display: flex;
  font-size: 30px;
  width: 100%;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@media (max-width: 768px) {
  .settingsHeader {
    width: 100%;
    box-shadow: none;
    border-bottom: 1px solid;
  }
}
@media (max-width: 768px) {
  .settingsHeader span {
    font-size: 0;
  }
}
.settingsHeader .logo {
  margin: 20px 0 20px 25%;
  cursor: pointer;
  display: flex;
}
@media (max-width: 768px) {
  .settingsHeader .logo {
    margin: 8% 5%;
  }
}
.settingsHeader .logo img {
  width: 50px;
  height: 50px;
  filter: invert(13%) sepia(55%) saturate(5182%) hue-rotate(270deg) brightness(76%) contrast(121%);
}
@media (max-width: 768px) {
  .settingsHeader .logo img {
    filter: none;
  }
}
.settingsHeader .logo h4 {
  padding: 0 0 0 10px;
  color: #8A2BE2;
  font-family: Oswald, sans-serif;
}
@media (max-width: 768px) {
  .settingsHeader .logo h4 {
    color: black;
  }
}
.settingsHeader .links {
  display: flex;
  width: 100%;
  justify-content: right;
  margin: 20px 25% 20px 0;
}
.settingsHeader .links a {
  text-decoration: none;
  font-family: Sans, sans-serif;
  font-size: 25px;
}
.settingsHeader .links .chatsLink {
  color: #8A2BE2;
  margin-right: 20px;
  padding: 8px 8px 0 8px;
  cursor: pointer;
}
.settingsHeader .links .chatsLink:hover {
  text-decoration: underline;
  color: #FF4500;
}
.settingsHeader .links .chatsLink:hover img {
  filter: invert(38%) sepia(79%) saturate(4154%) hue-rotate(0deg) brightness(101%) contrast(109%);
}
.settingsHeader .links .chatsLink img {
  width: 22px;
  height: 22px;
  filter: invert(13%) sepia(55%) saturate(5182%) hue-rotate(270deg) brightness(76%) contrast(121%);
}
@media (max-width: 768px) {
  .settingsHeader .links .chatsLink img {
    filter: none;
    width: 50px;
    height: 50px;
  }
}
.settingsHeader .links #settingsLink {
  color: #FF4500;
  margin-right: 20px;
  padding: 8px 8px 0 8px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .settingsHeader .links #settingsLink {
    display: none;
  }
}
.settingsHeader .links #settingsLink img {
  width: 22px;
  height: 22px;
  margin-left: 5px;
  text-decoration: underline;
  color: #FF4500;
  filter: invert(38%) sepia(79%) saturate(4154%) hue-rotate(0deg) brightness(101%) contrast(109%);
}
.settingsHeader .links .logOutLink {
  color: #8A2BE2;
  padding: 8px 8px 0 8px;
  cursor: pointer;
}
.settingsHeader .links .logOutLink:hover {
  color: #FF4500;
  text-decoration: underline;
}
.settingsHeader .links .logOutLink:hover img {
  filter: invert(38%) sepia(79%) saturate(4154%) hue-rotate(0deg) brightness(101%) contrast(109%);
}
.settingsHeader .links .logOutLink img {
  width: 22px;
  height: 22px;
  filter: invert(13%) sepia(55%) saturate(5182%) hue-rotate(270deg) brightness(76%) contrast(121%);
}
@media (max-width: 768px) {
  .settingsHeader .links .logOutLink img {
    width: 50px;
    height: 50px;
    filter: none;
  }
}

/*# sourceMappingURL=SettingsHeader.css.map */
