.message{
  @media (max-width: 768px) {
    width: 100%;
  }
  p{
    width: fit-content;
    max-width: 500px;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-family: Sans, sans-serif;
    font-size: 20px;
    @media (max-width: 768px) {
      font-size: 18px ;
      max-width: 80%;
    }
  }
  .pDate{
    font-size: 13px;
    padding: 2px;
    @media (max-width: 768px) {
      font-size: 10px ;
    }
  }
  .recipient {
    p{
      margin: 10px auto 5px 20px;
      background-color: mediumpurple;
      @media (max-width: 768px) {
        margin:  5% auto 5% 2%;
      }
    }

  }

  .sender {
    p{
      margin: 10px 20px 10px auto;
      background-color: purple;
      @media (max-width: 768px) {
        margin:  5% 2% 5% auto;
      }

    }


  }

}
